<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gabble</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>" 
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="bg-white black-80 tc pv4 avenir">
  <a href="" class="bg-black-80 ba b--black dib pa3 w2 h2 br-100">
    <svg class="white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor"><title>skull icon</title><path d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12"></path></svg>
  </a>
  <h1 class="mt2 mb0 baskerville i fw1 f1">Welcome to Gabble!</h1>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">When someone is going on about a load of rubbish, and aren't fully making any sense, they are in turn speaking a load of "gabble".
</h2>
  <nav class="bt bb tc mw7 center mt4">
    <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/">Home</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/login">Login</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="/signup">Register</a>
    <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/newgab">New Gab</a>
  </nav>
</header>
{{#model.gab}}
<form class="pa4 black-80">
  <div>
    <label for="comment" class="f6 b db mb2">All the Gabs! <span class="normal black-60">(Cats Are Out of Bags)</span></label>
    <div id="comment"  class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" aria-describedby="comment-desc">{{message}}{{messageId}}</div>
    <small id="comment-desc" class="f6 black-60">Check out and see... <a href="/liked" class="link underline black-80 hover-blue">all your likes...</a></small>
  </div>
</form>
{{/model.gab}}


  </body>
</html>
