<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<body>
  <article class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
    <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
      You are Logged Out!
    </h1>
    <h2 class="fw2 f4 lh-copy mt0 mb3">
      See you later!
    </h2>
    <p class="fw1 f5 mt0 mb3">
      Take Gab Care!
    </p>
    <div>
      <a class="f6 br-pill bg-dark-green no-underline washed-green ba b--dark-green grow pv2 ph3 dib mr3" href="/login">
      Log Back In!
    </a>

    </div>
  </article>

</body>

</html>