<!DOCTYPE html>
<html lang="en">
<title> </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

<body>
    <nav class="bt bb tc mw7 center mt4">
        <a class="f6 f5-l link bg-animate black-80 hover-bg-lightest-blue dib pa3 ph4-l" href="/">Home</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l" href="/login">Login</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l" href="/signup">Register</a>
        <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" href="/newgab">New Gab</a>
    </nav>
    <article class="pa4 black-80">
        <form action="/signup" method="POST" accept-charset="utf-8">
            <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
                <div class="mt3">
                    <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
                    <input class="pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address" id="email-address">
                </div>
                <div class="mt3">
                    <label class="db fw4 lh-copy f6" for="password">Password</label>
                    <input class="b pa2 input-reset ba bg-transparent" type="password" name="password" id="password">
                </div>
            </fieldset>
            <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign Up"></div>
        </form>
    </article>

</body>

</html>